//- Ecrire un article

extends ../layout.pug
 
block variables
    - let title = 'Ecrire un article';
 
block content
    section
        h2 Ecrire un article
        a(class='link' href='/admin') ← Retour à l'espace d'administration
        form(action="/admin/write" method="post")
            h2 Nouvel article
            div
                label(for="titre") Titre :
                input(type="text" name='titre' id='titre' placeholder='Titre de l\'article')
            div
                label(for="categorie") Catégorie :
                select(name="categorie" id='categorie')
                    each val in categories
                        option(value=val["id"])=val["title"]
            div
                label(for='contenu') Contenu :
                textarea(name="contenu" id='contenu' rows="10" placeholder='Ecrivez le texte de l\'article ici')
            div
                label(for="auteur") Auteur :
                select(name="auteur" id='auteur')
                    each val in authors
                        option(value=val["id"])=val["name"]
            input(type="submit" value='Publier' class='button')