//- Affichage d'une erreur

extends layout.pug
 
block variables
    - let title = 'Erreur';
 
block content
    section
        h2 Erreur
        a(class='link' href='/') â† Retour aux articles
        article(class='big')
            p #{error}
                