//- Index : affichage des articles

extends layout.pug
 
block variables
    - let title = 'Accueil';
 
block content
    section
        h2 Les derniers articles
        article
            p(class='small') 26/03/2020 - 11:14
            h3 Titre
            p(class='small') Romane 
                
            p Le Lorem Ipsum est simplement...

            p(class='small') Catégorie
            a(class='button' href='article') Voir plus

            p articles : #{articles}

            //- h1 Salut #{prenom}
            //- ul
            //-     each val in [1,2,3,4,5]
            //-         li=val
